@import '../../../scss/variables';

.category{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $trac-yellow;
    background-color: $trac-lightblue;
    h3{
        padding: 5px 15px;
        color: $dark;
        text-transform: capitalize;
        cursor: pointer;
        &:hover{
            color: $trac-red;
        }
    }
    //right and center coe from TicketItem.scss... Share the same category class
}
