@import '../../scss/variables';
body{
    margin: 0;
}
.menu{
    display: flex;
    background-color: $trac-blue;
    color: white;
    justify-content: space-between;
    padding: 20px;
    h1{
        margin: 0;
        color: $trac-yellow;
        align-self: center;
    }
    .options{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        width: 50%;
        li{
            cursor: pointer;
            &:hover{
                color: $trac-lightblue;
            }
        }
    }
}