@import '../../scss/variables';

body{
    margin: 0;
    color: $dark;
}
.menu{
    display: flex;
    background-color: $trac-blue;
    color: white;
    justify-content: space-between;
    padding: 20px;
    h1{
        margin: 0;
        color: $trac-yellow;
        align-self: center;
        cursor: pointer;
    }
    .options-main{
      @media screen and (min-width: 600px){
        width: 60%;
      }
    }
    .options{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        li{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            cursor: pointer;
            text-transform: uppercase;
            &:hover{
                color: $trac-lightblue;
            }
        }
        @media screen and (max-width: 600px){
        display: none;
      }
    }
    .mobile{
      .mobile-menu{
        img{
          width: 40px;
          cursor: pointer;
        }
        #dropdown-list{
          display: none;
          position: absolute;
          list-style-type: none;
          text-align: center;
          color: $dark;
          transform: translate(-70px);
          padding: 5px;
          margin: -5px;
          width: 125px;
          background-color: $lightgrey;
          li{
            cursor: pointer;
            padding: 10px 0;
            &:hover{
              background-color: $trac-lightgreen;
            }
          }
        }
      }

      @media screen and (min-width: 600px){
        display: none;
      }
    }
}
