@import '../../../../scss/variables';

.ticket-interface-main{
  margin: 20px 40px;
  border: 1px solid $lightgrey;
  border-radius: 2px;
  @media(max-width: 600px){
    margin: 0;
  }
  .ticket-essential-info{
    padding: 20px;
    background-color: $lightgrey;
    border-radius: 2px;
    span{
      padding: 0px 10px 0px 0px;
    }
  }

  .flexed-info{
    display: flex;
    width: 100%;
    padding: 5px;
    align-items: flex-start;
    @media (max-width: 600px){
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  .side-info-bar{
    float: right;
    margin: 0 20px;
    width: 25%;
    border: 1px solid $lightgrey;
    background-color: $trac-lightblue;
    @media(max-width: 600px){
      width: 100%;
      margin: 0;
    }
    h3{
      padding: 0px 10px;
      text-align: center;
    }
    p{
      padding: 5px;
      display: inline-block;
      text-align: center;
      width: 45%;
      text-transform: capitalize;
      span{
        font-weight: 600;
      }
    }
  }

  .comments-section{
    border: 1px dotted $lightgrey;
    width: 75%;
    @media(max-width: 600px){
      width: 100%;
    }
    h2{
      background-color: $trac-darkblue;
      margin: 0;
      padding: 10px;
      color: $trac-yellow;
    }
    h3{
      text-align: center;
      width: 25%;
      text-transform: capitalize;
    }
    .comment-details{
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      background-color: $trac-lightblue;
      &--comments-head{
        padding: 5px;
        background-color: $lightgrey;
        color: $trac-darkblue;
      }
    }

    .comment{
      border: 1px solid $lightgrey;

      .comment-text{
        padding: 15px;
      }
    }
    .comment-input{
      width: 75%;
    }
    label{
      margin: 0 5px;
    }
    button{
      padding: 10px;
      border-radius: 3px;
      background-color: $trac-lightblue;
      color: $trac-darkblue;
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;
      border: 0;
      &:hover{
        background-color: $trac-lightgreen;
      }
    }
  }
}
