$dark: #333;
$trac-grey: #dbdbdb;
$lightgrey: #efefef;

$trac-yellow: #F8E9A1;
$trac-red: #F76C6C;
$trac-lightred: #ffafaf;
$trac-lightblue: #A8D0E6;
$trac-blue: #373785;
$trac-darkblue: #24305E;
$trac-lightgreen: #eeffe7;
